<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="fill dark">
  <div class="center center-el">
    <div class="fade">
      <% @post.images.each do |post| %>
        <div><%= image_tag post.url, class: "slider-img" %></div>
      <% end %>
    </div>
  </div>
</div>




