/*class Menu extends React.Component {

	onToggleMenu() {
		this.props.toggleMenu();
	}

	toggleClass() {
		return (this.props.toggle) ? 'showMenu' : 'hideMenu';
	}

	handleLink(e) {
		currentUrl = window.location.pathname;
		currentLink = e.currentTarget.pathname;

		if(currentLink == currentUrl) {
			e.preventDefault();
		}
	}

	render() {
		return(
			<div>
				<input type="button" className="btn" value="Button" onClick={this.onToggleMenu.bind(this)}/>
				<nav>
					<ul className={this.toggleClass()}>
						<li><a onClick={this.handleLink} href="/">inicio</a></li>
						<li><a onClick={this.handleLink} href="/inmuebles">Inmuebles</a></li>
						<li><a onClick={this.handleLink} href="/">Sobre nosotros</a></li>
						<li><a onClick={this.handleLink} href="/">Contacto</a></li>
					</ul>
				</nav>
			</div>
		);
	}
}*/

let home = (function() {

	// DOM elements
	let $menu = $("#menu");
	let $link = $menu.find("#link");

	function handleLink(e) {
		currentUrl = window.location.pathname;
		currentLink = e.currentTarget.pathname;

		if(currentLink == currentUrl) {
			e.preventDefault();
		}
	}
	
	$link.on('click', handleLink);
	
})();