<footer>
	<div class="content">
		<div class="footer-el">
			
			<%= image_tag 'logo-vergara.png' %>
			<p>Tel: 1003244344</p>
		</div>

		<div class="footer-el">
			<ul>
				<li><h4>Menu principal</h4></li>
				<li>Inicio</li>
				<li>inmuebles</li>
				<li>Sobre nosotros</li>
				<li>Contacto</li>
			</ul>
		</div>

		<div class="footer-el">
			<ul>
				<li><h4>Servicios</h4></li>
				<li>Casas</li>
				<li>Apartamentos</li>
				<li>Lotes</li>
				<li>Fincas</li>
			</ul>
		</div>
	</div>

</footer>