<div id="home">
	<div class="welcome">
		<!--<%= image_tag 'logo-vergara.png'%>-->
		<h1 class="welcome-txt">Le ayudamos a encontrar su vivienda deseada</h1>
	</div>
	<nav>
		<ul>
			<li><%= link_to 'Inicio', '/#' %></li>
			<li><a href="/">Inmuebles</a></li>
			<li><a href="/">Sobre nosotros</a></li>
			<li><a href="/">Contacto</a></li>
		</ul>
	</nav>
</div>
