<%= react_component("Home") %>

<section>
	<div class="content">

		<div class="table-box">

			<div class="table-box-el">
				<%= image_tag 'realstate.png' %>
			</div>

			<div class="table-box-el">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim sed non adipisci eaque, deserunt 
				</p>
			</div>
		</div>

	</div>
</section>