<div id="home" class="home">
	<div class="welcome">
		<%= image_tag 'logo.png' %>
		<h1 class="welcome-txt">Le ayudamos a encontrar su vivienda deseada</h1>
	</div>

	<input id="button" type="button" class="btn" value="Button"/>
	<nav id="menu">
		<ul class="hideMenu">
			<li><a id="link" href="/">inicio</a></li>
			<li><a id="link" href="/inmuebles">Inmuebles</a></li>
			<li><a id="link" href="/">Sobre nosotros</a></li>
			<li><a id="link" href="/contacts/new">Contacto</a></li>
		</ul>
	</nav>
	
</div>

<section>
	<div class="content">

		<div class="table-box">

			<div class="table-box-el el-2">
				<%= image_tag 'realstate.png' %>
			</div>

			<div class="table-box-el el-2">
				<p>
					Venta de Casas, Apartamentos, Lotes, Bodegas, Fincas e Inmuebles en la Ciudad de Cartagena. Excelentes Precios por metro Cuadrado.
				</p>
			</div>
		</div>

	</div>
</section>