	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/09/2017 22:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: font-url("./Flaticon.eot");
  src: font-url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       font-url("./Flaticon.woff") format("woff"),
       font-url("./Flaticon.ttf") format("truetype"),
       font-url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: font-url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-skype-logo:before { content: "\f100"; }
.flaticon-google-plus-logo-button:before { content: "\f101"; }
.flaticon-instagram-logo:before { content: "\f102"; }
.flaticon-facebook-logo-button:before { content: "\f103"; }
.flaticon-twitter-logo-button:before { content: "\f104"; }
.flaticon-filter-tool-black-shape:before { content: "\f105"; }
.flaticon-bars:before { content: "\f106"; }