@media screen and (max-width: 1024px)
	form
		width: 35%
	.post-box
		width: 65%
	
@media screen and (max-width: 768px)
	.footer-el
		padding: 2em .7em
		font-size: 18px

	.menu li:last-child
		display: inline-block

	.form
		max-width: 500px
		margin: 0 auto
		&-box
			width: 500px

	.hideForm
		height: 0px

	.showForm
		height: auto

	.wraper
		display: block

	.table-box
		img
			width: 260px
		p
			font-size: 18px

@media screen and (max-width: 736px) 

	.menu li:nth-child(6)
		display: inline-block

	nav 
		display: table
		ul
			display: table-cell
			position: absolute
			right: 0
			width: 200px
			transition: all 1s ease
		li
			display: block

	.table-box img 
		width: 230px

	.footer-el 
		padding: 2em 0.1em

	#home, #home:before
		height: 500px

	.btn
		display: block
		z-index: 1

	.hideMenu
		top: -20em

	.showMenu
		top: 0
		background: rgba(0,0,0, .5)
		height: 100%
		width: 100%

	.welcome
		max-width: 500px
		top: 9.5em

	.welcome-txt
		font-size: 30px
		margin: 1em

	.table-box p 
		font-size: 18px
		padding: 2em 0

	.dropdown
		position: absolute
		width: 100%
		top: -230px
		transition: 1s ease		

	.hideMenu2
		top: -220px

	.showMenu2
		top: 0

	.menu
		width: 100%

@media screen and (max-width: 414px)

	.table-box-el
		display: block
	.el-2
		width: 100%

	.footer-el
		display: block
		font-size: 20px
		padding: 1em 1em

	.table-box p 
		font-size: 18px
		text-align: center
		padding-top: 1em


	.welcome-txt
		font-size: 30px
		margin-right: 1em
		margin-left: 1em
		text-transform: lowercase

	footer
		text-align: center

	ul
		padding: 0